<footer>
    <div id="footer">
        <div class="container row">
            <div class="copyright col m6 text-left">
                <p>&#169;Copyright 2014<a href="/"> The Forum</a>. All rights reserved.</p>
                <p class="foot"><a href="#">Terms and Conditions</a> |<a href="privacy-policy.html"> Privacy Policy</a></p>
            </div>
            <div class="col m6 text-right right-align">
                <img src="./img/store.png" style="width: 280px;margin-top: 15px;">
            </div>
        </div>
    </div>
</footer>