footer
    #footer
        .container
            .copyright.col-md-6.text-left
                p
                    | &#169;Copyright 2014
                    a(href="/")  The Forum
                    | . All rights reserved.
                p.foot
                    a(href="#") Terms and Conditions
                    |  |
                    a(href="privacy-policy.html")  Privacy Policy
