.margin-right {
  margin-right: 1em;
}

a.colored {
  color: #3498db;

  text-decoration: underline;

  outline: none;
}

.datetime-picker * {
  outline: none;
}

.datetime-picker input {
  width: 100% !important;
}

.form-group.block {
  display: block;

  margin-top: 1em;
}

.form-inline label {
  min-width: 150px;
}

label.required:after {
  margin-left: .3em;

  color: red;

  content: '*';
}