doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
        title QUEB - all blogs
        // CSS
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='materialize/css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
        link(href='css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
        link(href='Forum/styles/style.css', type='text/css', rel='stylesheet')
        style.
            html{
                background-color: #4C3692;
            }
    body
        .parent-cont
            .row
                .col.m12.center
                    img.center-align(src='img/queb.png', style='width: 200px; margin-top: 10px;')
            .container
                .row.center-align(style='color:white')
                    -for(var i=0;i<posts.length;i++){
                        h5(style='font-weight:100')
                            a(href='#{posts[i]}' ,target='_blank') #{posts[i]}
                    -}
        // Scripts
        script(src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='materialize/js/materialize.js')
