doctype html
html(ng-app='the-forum')
  head
    title #{title}

    base(href='/')

    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    != css('main')

  body(ng-controller="BodyCtrl")
    div(ng-include="'/Forum/views/partials/header.html'")
    #wrapper
      .content.container(ng-view animate-panel='', effect='zoomIn')
    div(ng-include="'/Forum/views/partials/footer.html'")

    script(src='/js/lib/jquery-2.1.3.min.js')
    script(src='/scripts/angular.min.js')
    script(src='/scripts/angular-ui.min.js')
    script(src='/scripts/angular-route.min.js')
    script(src='/scripts/angular-sanitize.min.js')
    script(src='/scripts/angular-file-upload.min.js')

    script(src='/scripts/ui.bootstrap.js')
    script(src='/Forum/scripts/app.js')

    script(src='/Forum/scripts/configs/routes.js')
    script(src='/Forum/scripts/factories/api.js')

    script(src='/Forum/scripts/controllers/body.js')
    script(src='/Forum/scripts/controllers/account.js')
    script(src='/Forum/scripts/controllers/ask.js')

