doctype html
html(ng-app='the-forum')
  head
    title #{title}

    base(href='/')

    //link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css')

    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" ,rel="stylesheet")
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/Forum/styles/style.css')

  body
    div(ng-controller="BodyCtrl" ng-include="'/Forum/views/partials/header.html'")
    #wrapper
      .content.container(ng-view animate-panel='', effect='zoomIn')
    div(ng-include="'/Forum/views/partials/footer.html'")

    script(src='/js/lib/jquery-2.1.3.min.js')
    script(src='/scripts/angular.min.js')
    script(src='//ace.c9.io/build/src/ace.js')
    script(src='//angular-ui.github.io/ui-ace/dist/ui-ace.min.js')
    //script(src='/scripts/angular-ui.min.js')
    script(src='/scripts/angular-route.min.js')
    script(src='/scripts/angular-sanitize.min.js')
    script(src='/scripts/angular-file-upload.min.js')

    //script(src='/scripts/ui.bootstrap.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js')
    script(type='text/javascript', src='/scripts/angular-materialize.js')
    script(src='/Forum/scripts/app.js')

    script(src='/Forum/scripts/configs/routes.js')
    script(src='/Forum/scripts/services/fetchService.js')
    script(src='/Forum/scripts/services/sessionService.js')
    script(src='/Forum/scripts/services/commentService.js')
    script(src='/Forum/scripts/services/postService.js')

    script(src='/Forum/scripts/directives/followDirective.js')
    script(src='/Forum/scripts/directives/fiveStar.js')

    script(src='/Forum/scripts/controllers/body.js')
    script(src='/Forum/scripts/controllers/account.js')
    script(src='/Forum/scripts/controllers/ask.js')
    script(src='/Forum/scripts/controllers/question.js')
    script(src='/Forum/scripts/controllers/tags.js')
    script(src='/Forum/scripts/controllers/poll.js')
    script(src='/Forum/scripts/controllers/polling.js')
    script(src='/Forum/scripts/controllers/userSearch.js')
    script(src='/Forum/scripts/controllers/taggedQuestions.js')

