<div>
    <div class="row">
        <div class="col m12">
            <div class="row z-depth-1" style="padding: 20px;">
                <div class="input-field col s12">
                    <textarea id="Ask anything....." ng-model="question" class="materialize-textarea"></textarea>
                    <label for="Ask anything.....">Ask anything......you can use #hashtags :)</label>

                </div>
                <!--<div class="input-field col s12">-->
                    <!--<input id="tag" type="text" ng-model="tags" class="validate">-->
                    <!--<label for="tag">Tags</label>-->
                <!--</div>-->
                <div >
                    <div class="section col m6">
                        <select class="" ng-model="select.value1" material-select watch>
                            <option ng-repeat="value in select.choices">{{value}}</option>
                        </select>
                    </div>
                    <div class="col m6 right-align text-right">
                        <a type="button" ng-click="post()" class="btn waves-effect waves-light ng-class:{'disabled':question == undefined || question == '' || select.value1 == undefined}">Post</a>
                    </div>
                </div>

            </div>
            <div class="row">
                <div ng-repeat="Qs in qs">
                    <a href="/explore/questionPage/{{Qs._id}}"><h3>{{Qs.question}}</h3></a>
                </div>
            </div>
        </div>
    </div>
</div>