<div>
    <div>
        <ul class="tabs z-depth-1" tabs>
            <li class="tab"><a href="#questions"><i class="material-icons">question_answer</i> Questions</a> </li>
            <li class="tab"><a href="#hashtags" ng-click="clickForTags()"><i class="material-icons">label_outline</i> Hashtags</a> </li>
        </ul>
    </div>
    <div id="questions" class="z-depth-1">
        <ul  class="collection">
            <div class="collection-item" ng-repeat="q in allQuestions" ng-if="q.type == 'question'">
                <li><a href="/explore/questionPage/{{q._id}}">{{q.question}}</a><i class="material-icons secondary-content">question_answer</i></li>
                </div>
            <div class="collection-item" ng-repeat="q in allQuestions" ng-if="q.type == 'poll'">
                <li><a href="/explore/pollPage/{{q._id}}">{{q.question}}</a><i class="material-icons secondary-content">thumbs_up_down</i></li>
            </div>
        </ul>
    </div>
    <div class="z-depth-1" id="hashtags" style="margin-top: 9px">
        <div style="padding: 10px">
            <div class="input-field col s12">
                <i class="material-icons prefix">search</i>
                <input id="tagSearch" ng-model="tagSearch" type="text" class="validate">
                <label for="tagSearch">Type in any tag name...</label>
            </div>
        </div>
        <ul  class="collection">
            <li ng-repeat="tag in tags | filter:tagSearch" class="collection-item yolo"><a href="#" ng-click="fetchQuestionsFromTag(tag._id)">#{{tag.name}}</a> <span style="color: #B5B4B4;">({{tag.questionsTagged.length}})</span><i class="material-icons secondary-content">#</i></li>
        </ul>
    </div>

</div>