<div>
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light" >
            <img class="activator" src="http://materializecss.com/images/office.jpg">
        </div>
        <div class="card-content">
            <div class="row">
                <span class="card-title activator grey-text text-darken-4">.<i class="material-icons right">more_vert</i></span>
                <div class="col m2">
                    <div class="">
                        <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xat1/v/t1.0-9/11836673_1449214968737860_3211047003395970054_n.jpg?oh=806d6b833bb092befb4b163d046e4393&oe=563BBBA1&__gda__=1446538665_1cfc31a0da09d05ee44d7ccc49177d4a" alt="" class="circle responsive-img" style="width: 120px;height: 120px">
                    </div>
                </div>
                <div class="col m10" style="margin-top: -55px;">
                    <div><h3>Ebad Nabi Hashmi</h3></div>
                    <div>
                        <div class="switch">
                            <label>
                                <input type="checkbox">
                                <span class="lever"></span>
                                <span>following</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
    <div class="center-align">
        <h3 class="text-center">His questions</h3>
    </div>
    <div>
        <ul class="collapsible popout" data-collapsible="accordion" watch>
            <li class="clean">
                <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>asdasd</div>
                <div class="collapsible-body"><p>furrrr</p></div>
            </li>
            <li class="clean">
                <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>asdasd</div>
                <div class="collapsible-body"><p>furrrr</p></div>
            </li>
            <li class="clean">
                <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>asdasd</div>
                <div class="collapsible-body"><p>furrrr</p></div>
            </li>
            <li class="clean">
                <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>asdasd</div>
                <div class="collapsible-body"><p>furrrr</p></div>
            </li>
        </ul>
    </div>
</div>