<div>
    <div class="z-depth-1" style="padding: 20px 52px;">
        <h3>{{userInfo.username}}</h3>
        <h5>{{userInfo.email}}</h5>

        <a ng-hide="otherUser"
           class="btn waves-effect waves-light"
           href="/account/{{userInfo.username}}/settings_profile">Edit Profile</a>

        <button ng-show="otherUser" ng-click="onFollow(follow)" class="btn waves-effect waves-light" >{{follow}}</button>

        <h5>Followers: </h5>
        <div ng-if="userInfo.followers.length===0">
            <span ng-hide="otherUser">You</span>
            <span ng-show="otherUser">{{userInfo.username}}</span>
            ain't got no followers</div>
        <div ng-repeat="person in userInfo.followers">
            <a href="/account/{{person.username}}">{{person.username}}</a>
        </div>
        <h5>Following: </h5>
        <div ng-if="userInfo.following.length===0">
            <span ng-hide="otherUser">You</span>
            <span ng-show="otherUser">{{userInfo.username}}</span>
            ain't following no 1</div>
        <div ng-repeat="person in userInfo.following">
            <a href="/account/{{person.username}}">{{person.username}}</a>
            <button ng-hide="otherUser" class="waves-effect waves-teal btn-flat" ng-click="onFollow(person._id)">Unfollow</button>
        </div>
    </div>

</div>