<div ng-controller="UserprefsController">
    <div class="z-depth-1" style="padding: 20px 52px;">
        <h5>Enable/Disable your ask button : </h5>
        <span class="switch">
                        <label>
                            <span ng-if="!user.enableAsk">enable ask button</span>
                            <span ng-if="user.enableAsk">ask button enabled</span>
                            <input type="checkbox" ng-change="toggeleAskButton()" ng-model="user.enableAsk">
                            <span class="lever"></span>
                        </label>
                    </span>
    </div>
    <div class="page-header">
        <h3>Profile Information</h3>
    </div>
    <div class="z-depth-1" style="padding: 20px 52px;">
        <input type="hidden" name="_csrf"/>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">perm_identity</i>
                <input type="text" name="name" ng-model="user.profile.name" id="name" value="" required/>
                <label for="name">Name</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input type="email" name="email" id="email" ng-model="user.email" required="">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">location_on</i>
                <input type="text" name="city" ng-model="user.profile.city" id="city" value="" />
                <label for="city">City</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">location_on</i>
                <input type="text" name="country" ng-model="user.profile.country" id="country" value="" />
                <label for="country">Country</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">http</i>
                <input type="text" name="website" ng-model="user.profile.website" id="website" value=""/>
                <label for="website">Website</label>
            </div>
            <div class="col s6">
                <p>
                    <input name="gender" type="radio" ng-model="user.profile.gender" id="male" value="male"/>
                    <label for="male">Male</label>
                </p>
                <p>
                    <input name="gender" type="radio" ng-model="user.profile.gender" id="female" value="female"/>
                    <label for="female">Female</label>
                </p>
            </div>
            <div class="col s6">
                <button class="btn waves-effect waves-light" type="button" ng-click="updateInfo()" name="action">Submit
                    <i class="material-icons">send</i>
                </button>
            </div>
        </div>
    </div>
    <div class="page-header">
        <h3>Education</h3>
    </div>
    <div class="z-depth-1" style="padding: 20px 52px;">
        <input type="hidden" name="_csrf"/>
        <div class="row">
            <div class="row" >
                <div class="input-field col s6">
                    <i class="material-icons prefix">perm_identity</i>
                    <input type="text" name="school" id="school" ng-model="school.name"/>
                    <label for="school">School</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">perm_identity</i>
                    <input type="text" name="degree" id="degree" ng-model="school.degree"/>
                    <label for="degree">Degree or certifcate?</label>
                </div>
                <div class="input-field col s6">
                    <select material-select watch ng-model="school.start">
                        <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                    </select>
                    <label>How many years?</label>
                    <span>to</span>
                    <select material-select watch ng-model="school.end">
                        <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <button class="btn waves-effect waves-light" ng-click="addSchool()" name="action"><i class="material-icons">add</i>add
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <h3>Work history</h3>
    </div>
    <div class="z-depth-1" style="padding: 20px 52px;">
        <input type="hidden" name="_csrf"/>
        <div class="row">
            <div class="row" >
                <div class="input-field col s6">
                    <i class="material-icons prefix">perm_identity</i>
                    <input type="text" name="workplace" id="workplace" ng-model="work.name"/>
                    <label for="school">School</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">perm_identity</i>
                    <input type="text" name="position" id="position" ng-model="work.position"/>
                    <label for="position">Degree or certifcate?</label>
                </div>
                <div class="input-field col s6">
                    <select material-select watch ng-model="work.start">
                        <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                    </select>
                    <label>How many years?</label>
                    <span>to</span>
                    <select material-select watch ng-model="work.end">
                        <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <button class="btn waves-effect waves-light" ng-click="addWork()" name="action"><i class="material-icons">add</i>add
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <h3>Change Password</h3>
    </div>
    <div class="z-depth-1" style="padding: 20px 52px;">
        <input type="hidden" name="_csrf"/>
        <div class="row">
            <div class="input-field col s6"><i class="mdi-communication-vpn-key prefix"></i>
                <input type="password" name="password" ng-model="pass.newPass" id="password" autofocus="autofocus"/>
                <label for="password">Password</label>
            </div>
            <div class="input-field col s6"><i class="mdi-communication-vpn-key prefix"></i>
                <input type="password" name="confirmPassword" ng-model="pass.confPass" id="confirmPassword" autofocus="autofocus"/>
                <label for="confirmPassword">Confirm Password</label>
            </div>
            <button class="btn waves-effect waves-light" ng-click="updatePass()" type="button" name="action">Change
                <i class="material-icons">send</i>
            </button>
        </div>
    </div>
</div>