<div ng-controller="TaggedController">
    <h1 ng-if="load" style="margin-top: 100px;text-align: center">Nothing found! how could this be :(</h1>
    <div ng-if="!load" class="z-depth-1 usr-ct-box">
        <div class="row">
            <div ng-repeat="post in posts" class="col m12 comment">
                <div class="col m12 usr-ct-hd-cn">
                    <div class="row commentHead">
                        <div class="col m1 usr-ct-ava"><img src="{{post.userID.profile.picture}}" alt="" class="circle responsive-img z-depth-1"></div>
                        <div class="col m11 usr-ct-head"><p><a href="/account/{{post.userID.username}}">@{{post.userID.username}}</a><span ng-if="post.to.length" class="to">to</span><a ng-repeat="to in post.to" href="/account/{{to.username}}">@{{to.username}}</a></p></div>
                    </div>
                    <div class="row">
                        <div class="collection-item" ng-repeat="q in allQuestions" ng-if="q.type == 'poll'">
                            <li><a href="/explore/pollPage/{{post._id}}">{{q.question}}</a><i class="material-icons secondary-content">thumbs_up_down</i></li>
                        </div>
                        <a ng-if="post.type == 'poll'" href="/explore/pollPage/{{post._id}}"><h3 class="usr-ct-txt">{{post.question}}</h3></a>
                        <a ng-if="post.type == 'question'" href="/explore/questionPage/{{post._id}}"><h3 class="usr-ct-txt">{{post.question}}</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>